.home
  .site-header
    
    position: relative
    z-index: 10
    a
      color: $white
      @media all and(max-width:550px)
        color: $black
    svg
      fill: $white
    .outline-button
      color: $link
      background: rgba(255, 255, 255, 0.3)
      &:hover
        color: $red


.home-custom-banner
  position: relative
  top: 0
  z-index: 1
  background: url(images/home-banner-images-min.jpg) center center no-repeat
  background-size: cover
  height: 800px
  width: 100%
  margin-top: -147px
.home-custom-banner-text
  padding: 0 $gutter-spacing 
  color: $white
  position: relative
  top: 0
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  z-index: 10
  height: 100%
  width: 100%
  @media all and(max-width:750px)
    padding: 0 $gutter-spacing/2
  .title
    max-width: 800px
    text-shadow: 0 0 1px rgba(0,0,0,0.7)
    color: $white
    @media all and(max-width:750px)
      font-size: 4rem
  p
    max-width: 625px
    text-shadow: 0 0 1px rgba(0,0,0,0.7)
    color: $white

.surveys-temporary
  .col-2
    position: relative
    background: $blue
    h4,h2, p 
      color: $white
    h4
      margin-bottom: 1rem
    a
      text-align: center
    a.outline-button
      margin-top: 1.2rem
      bottom: 0px

.flex-link-to-important
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  svg
    fill: $white
    height: 2.3rem
    width: 2.3rem

.link-to-important  
  padding: 1rem 0.5rem
  text-align: center
  margin: $gutter-spacing $gutter-spacing 0 $gutter-spacing
  @media all and(max-width: 750px)
    margin: $gutter-spacing/2 $gutter-spacing/2 0 $gutter-spacing/2
  &.board-link-home
    padding: 4rem 0;
    h2 
      color: $white
    svg
      height: 100px
      width: 100px
      fill: $white
  .link-light 
    color: #2874A6
    font-size: 1.6rem
    font-weight: bold
    transition: 0.3s all ease
    &:hover
      color: $black
  p
    color: $white
    margin-bottom: 0
    max-width: 100%
    margin: 0 0.75rem
  @media all and(max-width:650px)
    .link-light
      width: 100%
    

.home-mission-section
  text-align: center
  margin: $gutter-spacing $gutter-spacing 0 $gutter-spacing
  svg
    width: 75px
    fill: $grey
  p
    margin-left: auto
    margin-right: auto
    font-size: 2rem;
    color: $black;
    font-style: italic;
  @media all and(max-width: 750px)
    margin: $gutter-spacing/2 $gutter-spacing/2 0 $gutter-spacing/2

.home-video-section
  position: relative
  overflow: hidden
  margin: $gutter-spacing $gutter-spacing 0 $gutter-spacing
  &:hover
    .video-on-play
      filter: grayscale(0)
      transform: scale(1.1)
    .card-text-box
      box-shadow: 10px 10px 20px rgba(0,0,0,0.7)
  .video-on-play
    position: relative
    z-index: 1
    width: 100%
    filter: grayscale(1)
    transition: 0.5s all ease
  @media all and (max-width: 1000px)
    height: 600px
    video
      object-fit: cover
      height: 600px
  @media all and(max-width: 750px)
    margin: $gutter-spacing/2 $gutter-spacing/2 0 $gutter-spacing/2
  


.home-newsletter-section
  background: url(images/scc_trail_build.jpg) center center no-repeat
  background-size: cover
  width: calc(100% - (#{$gutter-spacing}*2))
  height: 900px
  position: relative
  margin: $gutter-spacing auto
  @media all and(max-width: 750px)
    display: block
    background: $off-white
    height: auto
    margin: $gutter-spacing/2 $gutter-spacing/2 0 $gutter-spacing/2
    width: calc(100% - (#{$gutter-spacing}))

  .card-text-box
    position: absolute
    top: $gutter-spacing
    left: $gutter-spacing
    bottom: auto
    @media all and(max-width: 750px)
      position: relative
      top: auto
      left: auto
      width: 100%
      background: $off-white
      padding: $gutter-spacing $gutter-spacing/2
