.entry-content
  width: 95%
  max-width: 700px
  margin: $gutter-spacing*2 auto $gutter-spacing auto
  iframe, img 
    display: block
    margin: $gutter-spacing auto
  .wpforms-field-label
    font-family: $h-font
    font-weight: 400
  h2 
    margin-bottom: 1rem
  
.video-display
  margin: $gutter-spacing auto
  width: calc(100% - #{$gutter-spacing*2})
  iframe
    display: block
    width: 100%

