.form 
  label
    width: 100%
    display: block
    font-size: 1.2rem
    font-weight: bold
    font-family: $h-font
    
input[type=text], .entry-content div.wpforms-container-full div.wpforms-field input.wpforms-field-medium, .entry-content div.wpforms-container-full div.wpforms-field textarea.wpforms-field-medium
    margin-bottom: 1.2rem
    width: 100%
    font-size: 1.3rem
    padding-top: 10px
    padding-bottom: 5px
    border: 1px solid $black

.button , input[type=submit],  .entry-content div.wpforms-container-full .wpforms-form button.wpforms-submit                                                                                                                                                                                                   
  padding: 10px 20px 
  background-color: $link
  border: 0 none
  border-bottom: 2px solid $link-light
  cursor: pointer
  -webkit-border-radius: 5px
  margin-top: 20px
  border-radius: 2px 
  color: $white
  font-family: $h-font
  font-size: 1.6rem
