.link
  font-family: $h-font
  font-weight: 500
  color: $link
  text-decoration: none
  font-style: normal
  font-size: 1.6rem
  transition: 0.2s all ease
  &::after
    background: url('images/link-arrow.svg') no-repeat
    background-size: 40px 17px
    width: 40px
    height: 17px
    display: inline-block
    content: ""
    margin-bottom: -3px
  &:hover
    color: $link
    font-weight: bold

.link-light
  color: $link-light
  stroke: $link-light
  &::after svg
    stroke: $link-light

.outline-button
  font-family: $h-font
  display: inline-block
  border: 2px solid $link
  width: auto
  padding: 0.75rem 1.25rem
  text-decoration: none
  border-radius: 2px
  font-size: 1.6rem
  &:hover
    color: $red
    border: 2px solid $red
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
  &:active
    box-shadow: none

a.white-outline-button
  color: $white
  border: 2px solid $white
  
  
