.newsletter-section
  background-size: cover
  width: calc(100% - (#{$gutter-spacing}*2))
  height: 900px
  position: relative
  margin: $gutter-spacing auto
  .card-text-box
    position: absolute
    top: $gutter-spacing
    left: $gutter-spacing
    bottom: auto