@import "helpers"
@import "text-content"
@import "links"
@import "grid"
@import "index-cards"
@import "forms"
@import "headers"
@import "half-section"
@import "staff-board"
@import "newsletter-section"
@import "block-editor"

.section-wrapper
  padding: 150px 10px

.pattern-section
  background: url('images/pattern2.png')center center repeat repeat
  background-size: 200px 200px
  p 
    color: $dark-grey
