$gutter-spacing: 40px
  
@import "text-content"
@import "links"
@import "index-cards"
@import "forms"

.section-wrapper
  padding: 150px 10px

.pattern-section
  background: url('images/pattern2.png')center center repeat repeat
  background-size: 150px 150px

.card-text-box
  background: $white
  padding: 30px 25px
  max-width: 350px
  margin: $gutter-spacing auto
  
